.parent{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
 
.Child1{
    
    
    width: 100%;
    height: 600vh;
    /* background-color: brown; */
     display: flex;
}
.Child1-1 h1{
    font-size: 44px;
    font-family: 'Times New Roman', Times, serif;
}
.Child1-1{
    width: 60%;
    height: 600vh;
    display: flex;
    flex-direction: column; 
    /* background-color: rgb(169, 16, 133); */
}
.Child1-1 img{
    margin-top: 20px;
    width: 100%;
    height: 70vh;

}
.Child1-1 h3{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}
.Child1-1 p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
}
.Child1-2{
    width: 40%;
    height: 400vh;
    /* background-color: pink; */
    margin-top: 9.8%;
}
.Child1-2 input{
    font-size: 18px;
    width: 50% ;
    margin-left: 20%;
    height: 5vh;
    margin-top: 20px;
    border: 2px solid lightgray;
}
.Child1-2 button{
    width:8% ;
    margin-left: 0%;
    padding-left: 0px;
    height: 6vh;
    background-color: white;
    border: 2px solid lightgray;
}
.Child1-2 h2{
    text-align: center;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.Child1-2 p{
    margin: 10px 40px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.fa-facebook{
    color: blue;
   margin-left: 45%;
}
.fa-instagram{
    color: rgb(165, 87, 42);
}
.fa-twitter{
    color: rgb(45, 45, 139);
}
.About{
    border: 2px solid lightgray;
    margin: 20px 20%;
    height: 39vh;
}
.list{
    border: 2px solid lightgray;
    margin: 20px 20%;
    height: 34vh; 
    /* text-align: center; */
}
.list ul{
    list-style: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.cell{
    border: 2px solid lightgray;
    margin: 20px 20%;
    height: 56vh;
}
.cell1{
    display: flex;
    height: 12vh;
}
.cell1 img{
    margin-left: 20px;
    height: 12vh;
    width: 30%;
    margin-top: 0px;
}
.cell1 p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.cell2{
    display: flex;
}
.cell2 img{
    margin-left: 20px;
    height: 12vh;
    width: 30%;
    margin-top: 10px;
}
.cell2 p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.cell3{
    display: flex;
}
.cell3 img{
    margin-left: 20px;
    height: 12vh;
    width: 30%;
    margin-top: 10px;
}
.cell3 p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.Newsletter{
    border: 2px solid lightgray;
    margin: 20px 20%;
    height: 48vh;
    display: flex; 
    flex-direction: column;
}
.Newsletter h1{
    margin-left: 10px;
}
.Newsletter input{
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.Newsletter button{
    width: 81%;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color:#ffd333
}
.Comments{
    border: 2px solid lightgray;
    margin: 20px 20%;
    height: 46vh;
    display: flex; 
    flex-direction: column;
}
.Comments h1{
    margin: 0px ;
    margin-left: 10px;
}
.Comments h3{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.Comments p{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 30px;
} 
