.parent1{
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.nav1{
    display: flex;
    width: 100%;
    height: 4vh;
    /* background-color: blueviolet; */

}
.nav1-1{
    width: 30%;
    height: 4vh;
    margin-left: 20px;
    font-size: 14px;
}
.nav1-2{
    width: 70%;
    height: 4vh;
    padding-left: 50px;
    justify-items:end;
    font-size: 14px;
    margin-left: 43%;

}
.nav1-2 select{
    /* margin-right: 20px; */
    border: 0px;
    font-size:14px;
    text-align: right;
    padding-left: 10px;
  
}
.nav1-2 a{
    /* margin-right: 20px; */
    text-decoration: none;
    color: black;
    padding-left:10px;
    
}
#one{
    border-left: 2px solid black;
    padding-left: 10px; ;
}
.nav2{
    display: flex;
    width: 100%;
    height: 10vh;
    list-style: none;
    /* background-color: blueviolet; */
}
.nav2-1{
    display: flex;
    width:20%;
    height: 10vh;
    /* background-color:rgb(14, 128, 71); */
    padding-left: 150px;
    margin-top: 0px;
    color:black;
}
.nav2-2{
    display: flex;
    width: 50%;
    height: 10vh;
    /* background-color: rgb(86, 4, 133); */
}

.nav2-2 input{
    font-size: 24px;
    border:2px solid silver;
    float: left;
    padding-right: 100px;
    margin-top: 10px;
    padding-left: 20px;
    margin-left: 20px;
}
.nav2-2 input ::placeholder{
    color: lightgrey;
}
.nav2-2 button{
    margin-top: 10px;
    font-size: 23px;
    border:2px solid silver;
}
.nav2-3{
    /* background-color: rgb(168, 21, 21); */
    width: 30%;
    display: flex;
    height: 10vh;
    margin: 0px;
}
 .nav2-3 li{
    list-style: none; 
    font-size:14px;
    margin-left: 8%;
    margin-top: 9px;
    height: 5vh;
    text-align: center;
 }
 .fa-heart{
     color:black ;
     align-items: center;
     
 }
 .nav3{
     width: 100%;
     height: 10vh;
     background-color:#ffd333 ;
     display: flex;
     margin-top: 15px;
 }
 .nav3-1{
     height: 9vh;
     width: 20%;
     background-color: rgb(7, 7, 7);
     margin-left:10%;
     margin-top: 5px;
 }
 .nav3-1 h3{
     padding-left: 20px;
     margin-top: 10px;
     color: white;
 }
 .fa-angle-up{
   padding-left: 40px;
   color: white;
   size: 10px;
 }
 .nav3-2{
     width: 40%;
     height: 10vh;
     /* background-color: red; */
     display: flex;
     font-family: monospace;
     font-size: 16px;
     text-decoration: solid;
 }
 .nav3-2 ul li{
     display: flex;
     flex-direction: row;
     margin-right:5px;
     /* position: relative; */
 }
 .nav3-2 ul li a{
     text-decoration: none;
     color: black;
 }
 .PagesDrop{
    position: relative;
    padding-right: 70px;
    /* background-color: yellow; */
  }
  .PagesDrop ul{
    display: none;
  }
  .PagesDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .PagesDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .PagesDrop ul li a {
    color: black;
    text-decoration: none;

  }
  .BlogsDrop{
    position: relative;
    padding-right: 30px;
    /* background-color: yellow; */
  }
  .BlogsDrop ul{
    display: none;
  }
  .BlogsDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .BlogsDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .BlogsDrop ul li a {
    color: black;
    text-decoration: none;

  }
  .AccountDrop{
    position: relative;
    padding-right: 30px;
    /* background-color: yellow; */
  }
  .AccountDrop ul{
    display: none;
  }
  .AccountDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .AccountDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .AccountDrop ul li a {
    color: black;
    text-decoration: none;
  }
  .ShopDrop{
    position: relative;
    padding-right: 30px;
    /* background-color: yellow; */
  }
  .ShopDrop ul{
    display: none;
  }
  .ShopDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .ShopDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .ShopDrop ul li a {
    color: black;
    text-decoration: none;

  }
  .MegamenuDrop{
    position: relative;
    padding-right: 30px;
    /* background-color: yellow; */
  }
  .MegamenuDrop ul{
    display: none;
  }
  .MegamenuDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .MegamenuDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .MegamenuDrop ul li a {
    color: black;
    text-decoration: none;

  }
  .HomeDrop{
    position: relative;
    padding-right: 50px;
    /* background-color: yellow; */
  }
  .HomeDrop ul{
    display: none;
  }
  .HomeDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .HomeDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .HomeDrop ul li a {
    color: black;
    text-decoration: none;

  }
 .nav3-3{
     width: 30%;
     height: 10vh;
     /* background-color: red; */
 }
 .nav3-3 ul{
     list-style: none;
 }
 .nav3-3 ul li{
     margin-right: 30px;
     padding-right: 0px;
     padding-left:50px;
 }
 
 .Child1{
    
    
    width: 100%;
    height: 600vh;
    /* background-color: brown; */
     display: flex;
}
.Child1-1 h1{
    font-size: 44px;
    font-family: 'Times New Roman', Times, serif;
}
.Child1-1{
    width: 60%;
    height: 600vh;
    display: flex;
    flex-direction: column; 
    /* background-color: rgb(169, 16, 133); */
}
.Child1-1 img{
    margin-top: 20px;
    width: 100%;
    height: 70vh;

}
.Child1-1 h3{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}
.Child1-1 p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
}
.Child1-2{
    width: 40%;
    height: 400vh;
    /* background-color: pink; */
    margin-top: 9.8%;
}
.Child1-2 input{
    font-size: 18px;
    width: 50% ;
    margin-left: 20%;
    height: 5vh;
    margin-top: 20px;
    border: 2px solid lightgray;
}
.Child1-2 button{
    width:8% ;
    margin-left: 0%;
    padding-left: 0px;
    height: 6vh;
    background-color: white;
    border: 2px solid lightgray;
}
.Child1-2 h2{
    text-align: center;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
.Child1-2 p{
    margin: 10px 40px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.fa-facebook{
    color: blue;
   margin-left: 45%;
}
.fa-instagram{
    color: rgb(165, 87, 42);
}
.fa-twitter{
    color: rgb(45, 45, 139);
}
.About{
    border: 2px solid lightgray;
    margin: 20px 20%;
    height: 39vh;
}
.list{
    border: 2px solid lightgray;
    margin: 20px 20%;
    height: 34vh; 
    /* text-align: center; */
}
.list ul{
    list-style: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.cell{
    border: 2px solid lightgray;
    margin: 20px 20%;
    height: 56vh;
}
.cell1{
    display: flex;
    height: 12vh;
}
.cell1 img{
    margin-left: 20px;
    height: 12vh;
    width: 30%;
    margin-top: 0px;
}
.cell1 p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.cell2{
    display: flex;
}
.cell2 img{
    margin-left: 20px;
    height: 12vh;
    width: 30%;
    margin-top: 10px;
}
.cell2 p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.cell3{
    display: flex;
}
.cell3 img{
    margin-left: 20px;
    height: 12vh;
    width: 30%;
    margin-top: 10px;
}
.cell3 p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.Newsletter{
    border: 2px solid lightgray;
    margin: 20px 20%;
    height: 48vh;
    display: flex; 
    flex-direction: column;
}
.Newsletter h1{
    margin-left: 10px;
}
.Newsletter input{
    width: 80%;
    margin-left: 10%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.Newsletter button{
    width: 81%;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    background-color:#ffd333
}
.Comments{
    border: 2px solid lightgray;
    margin: 20px 20%;
    height: 46vh;
    display: flex; 
    flex-direction: column;
}
.Comments h1{
    margin: 0px ;
    margin-left: 10px;
}
.Comments h3{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.Comments p{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 30px;
} 


 