.Parent{
    width:100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
.nav1{
    display: flex;
    width: 100%;
    height: 4vh;
    /* background-color: blueviolet; */

}
.nav1-1{
    width: 30%;
    height: 4vh;
    margin-left: 20px;
    font-size: 14px;
}
.nav1-2{
    width: 70%;
    height: 4vh;
    padding-left: 50px;
    justify-items:end;
    font-size: 14px;
    margin-left: 43%;

}
.nav1-2 select{
    /* margin-right: 20px; */
    border: 0px;
    font-size:14px;
    text-align: right;
    padding-left: 10px;
  
}
.nav1-2 a{
    /* margin-right: 20px; */
    text-decoration: none;
    color: black;
    padding-left:10px;
    
}
#one{
    border-left: 2px solid black;
    padding-left: 10px; ;
}
.nav2{
    display: flex;
    width: 100%;
    height: 10vh;
    list-style: none;
    /* background-color: blueviolet; */
}
.nav2-1{
    display: flex;
    width:20%;
    height: 10vh;
    /* background-color:rgb(14, 128, 71); */
    padding-left: 150px;
    margin-top: 0px;
    color:black;
}
.nav2-2{
    display: flex;
    width: 50%;
    height: 10vh;
    /* background-color: rgb(86, 4, 133); */
}

.nav2-2 input{
    font-size: 24px;
    border:2px solid silver;
    float: left;
    padding-right: 100px;
    margin-top: 10px;
    padding-left: 20px;
    margin-left: 20px;
}
.nav2-2 input ::placeholder{
    color: lightgrey;
}
.nav2-2 button{
    margin-top: 10px;
    font-size: 23px;
    border:2px solid silver;
}
.nav2-3{
    /* background-color: rgb(168, 21, 21); */
    width: 30%;
    display: flex;
    height: 10vh;
    margin: 0px;
}
 .nav2-3 li{
    list-style: none; 
    font-size:14px;
    margin-left: 8%;
    margin-top: 9px;
    height: 5vh;
    text-align: center;
 }
 .fa-heart{
     color:black ;
     align-items: center;
     
 }
 .nav3{
     width: 100%;
     height: 10vh;
     background-color:#ffd333 ;
     display: flex;
     margin-top: 15px;
 }
 .nav3-1{
     height: 9vh;
     width: 20%;
     background-color: rgb(7, 7, 7);
     margin-left:10%;
     margin-top: 5px;
 }
 .nav3-1 h3{
     padding-left: 20px;
     margin-top: 10px;
     color: white;
 }
 .fa-angle-up{
   padding-left: 40px;
   color: white;
   size: 10px;
 }
 .nav3-2{
     width: 40%;
     height: 10vh;
     /* background-color: red; */
     display: flex;
     font-family: monospace;
     font-size: 16px;
     text-decoration: solid;
 }
 .nav3-2 ul li{
     display: flex;
     flex-direction: row;
     margin-right:5px;
     /* position: relative; */
 }
 .nav3-2 ul li a{
     text-decoration: none;
     color: black;
 }
 .PagesDrop{
    position: relative;
    padding-right: 70px;
    /* background-color: yellow; */
  }
  .PagesDrop ul{
    display: none;
  }
  .PagesDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .PagesDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .PagesDrop ul li a {
    color: black;
    text-decoration: none;

  }
  .BlogsDrop{
    position: relative;
    padding-right: 30px;
    /* background-color: yellow; */
  }
  .BlogsDrop ul{
    display: none;
  }
  .BlogsDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .BlogsDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .BlogsDrop ul li a {
    color: black;
    text-decoration: none;

  }
  .AccountDrop{
    position: relative;
    padding-right: 30px;
    /* background-color: yellow; */
  }
  .AccountDrop ul{
    display: none;
  }
  .AccountDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .AccountDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .AccountDrop ul li a {
    color: black;
    text-decoration: none;
  }
  .ShopDrop{
    position: relative;
    padding-right: 30px;
    /* background-color: yellow; */
  }
  .ShopDrop ul{
    display: none;
  }
  .ShopDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .ShopDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .ShopDrop ul li a {
    color: black;
    text-decoration: none;

  }
  .MegamenuDrop{
    position: relative;
    padding-right: 30px;
    /* background-color: yellow; */
  }
  .MegamenuDrop ul{
    display: none;
  }
  .MegamenuDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .MegamenuDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .MegamenuDrop ul li a {
    color: black;
    text-decoration: none;

  }
  .HomeDrop{
    position: relative;
    padding-right: 50px;
    /* background-color: yellow; */
  }
  .HomeDrop ul{
    display: none;
  }
  .HomeDrop:hover  ul{
    position: absolute;top: 30px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  .HomeDrop ul li{
    list-style-type: none;
    padding-left:0px;
  }
  .HomeDrop ul li a {
    color: black;
    text-decoration: none;

  }
 .nav3-3{
     width: 30%;
     height: 10vh;
     /* background-color: red; */
 }
 .nav3-3 ul{
     list-style: none;
 }
 .nav3-3 ul li{
     margin-right: 30px;
     padding-right: 0px;
     padding-left:50px;
 }
 
 .side{
    width: 100%;
    height: 60vh;
    display: flex;
    /* background-color: rgb(165, 34, 34); */
    margin-top: 0px;
}
.one{
    background-color: hsl(0, 0%, 3%);
    width: 20%;
    height: 60vh;
    margin-left:10%;
    margin-top:0px;
    padding-left: 0px;
}
.one ul{
   list-style: none;
   font-size: 14px;
}
.one ul li{
    font-family:'Times New Roman', Times, serif;
    color: white;
    padding-bottom: 15px;
}
.one ul li a{
    text-decoration: none;
    color: white;
}
.two{
    width: 70%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 83%, 41%);
}

/* .two button{
    width: 25%;
    height: 35px;
    margin-left: 30px;
    padding-top: 0px;
    font-size: 14px;
   
    font-family:'Times New Roman', Times, serif;
} */
.box{
    width: 100%;
    height: 15vh;
    display: flex;
    margin-top: 0%;
    margin-left: 10%;
    
}
.box-1{
    width: 20%;
    height: 10vh;
    border: 2px solid lightgray;
    margin: 30px 0px 20px 0px;

}
.box-1 p{
    margin-top: 0px;
    text-align: center;
    font-size:14px;
}
.box-1 b{
  margin-left: 30px;
  margin-bottom: 0px;
  font-size:20px; 
  text-align: center;
  padding-left: 10px;
}
.box-2{width: 20%;
    height: 10vh;
    border: 2px solid lightgray;
    margin: 30px 0px 20px 0px;
}
.box-2 p{
    margin-top: 0px;
    text-align: center;
    font-size:14px;
}
.box-2 b{
  margin-left: 50px;
  margin-bottom: 0px;
  font-size:22px;
}
.box-3{
        width: 25%;
        height: 10vh;
        border: 2px solid rgba(211, 211, 211, 0.853);
        margin: 30px 0px 20px 0px;
}
.box-3 p{
        margin-top: 0px;
        text-align: center;
        font-size:14px;
}
.box-3 b{
      margin-left: 80px;
      margin-bottom: 0px;
      font-size:22px;
      padding-left:10px;
}
.box-4{
        width: 20%;
        height: 10vh;
        border: 2px solid lightgray;
        margin: 30px 0px 20px 0px;
} 
.box-4 p{
    margin-top: 0px;
    text-align: center;
    font-size:14px;
}
.box-4 b{
  margin-left: 30px;
  margin-bottom: 0px;
  font-size:22px;
  padding-left: 10px;
}

.products{
    width:100%;
    height:65vh;
    display: flex;
    margin-top:12px;
    /* background-color:#ffd333; */
}
.products-1{
    width:20%;
    height:65vh;
    /* background-color:#1264ad; */
    margin-left:10%;
    margin-top: 10px;
    margin-right:30px;
    border: 2px solid lightgray;
}
.products-1 img{
    width:100%;
    height:30vh;
    margin-top:30px  ;
}
.products-1 p{
    margin-left:20px;
    font-size:18px;
}
.products-1:hover{
    border-color: #ffd333;
}
.products-1:hover .contentProduct{
    display: block;
}
.contentProduct{
     display: none;
     padding-left: 30px;
     margin-top: 0px;
}
.contentProduct button{
    width: 100px;
    height: 40px;
    background-color:#ffd333;
    color: black;
}
.fa-star{
    color: #ffd333;
}
.fa-chart-simple{
    color: lightgrey;
}
.fa-heart{
    color: lightgray ;
}
.products-2{
    width:20%;
    height:65vh;
    /* background-color:#1264ad; */
    margin-right:30px;
    margin-top: 10px;
    border: 2px solid lightgray;
}
.products-2 img{
    width:100%;
    height:30vh;
    margin-top:30px  ;
}
.products-2 p{
    margin-left:20px;
    font-size:18px;
}
.products-2:hover{
    border-color: #ffd333;
}
.products-2:hover .contentProduct2{
    display: block;
}
.contentProduct2{
     display: none;
     padding-left: 30px;
     margin-top: 0px;
}
.contentProduct2 button{
    width: 100px;
    height: 40px;
    background-color:#ffd333;
    color: black;
}
.fa-star{
    color: #ffd333;
}
.fa-chart-simple{
    color: lightgrey;
}
.fa-heart{
    color: lightgray ;
}
.products-3{
    width:20%;
    height:65vh;
    /* background-color:#1264ad; */
    margin-right:30px;
    margin-top: 10px;
    border: 2px solid lightgray;
}
.products-3 img{
    width:100%;
    height:30vh;
    margin-top:30px  ;
}
.products-3 p{
    margin-left:20px;
    font-size:18px;
}
.products-3:hover{
    border-color: #ffd333;
}
.products-3:hover .contentProduct3{
    display: block;
}
.contentProduct3{
     display: none;
     margin-top: 0px;
     padding-left: 30px;
}
.contentProduct3 button{
    width: 100px;
    height: 40px;
    background-color:#ffd333;
    color: black;
}
.fa-star{
    color: #ffd333;
}
.fa-chart-simple{
    color: lightgrey;
}
.fa-heart{
    color: lightgray ;
}
.products-4{
    width:20%;
    height:65vh;
    /* background-color:#1264ad; */
    margin-right:0% ;
    margin-top: 10px;
    border: 2px solid lightgray;
}
.products-4 img{
    width:100%;
    height:30vh;
    margin-top:30px  ;
}
.products-4 p{
    margin-left:20px;
    font-size:18px;
}
.products-4:hover{
    border-color: #ffd333;
}
.products-4:hover .contentProduct4{
    display: block;
}
.contentProduct4{
     display: none;
     padding-left: 30px;
     padding-top: 0px;
}
.contentProduct4 button{
    width: 100px;
    height: 40px;
    background-color:#ffd333;
    color: black;
}
.fa-star{
    color: #ffd333;
}
.fa-chart-simple{
    color: lightgrey;
}
.fa-heart{
    color: lightgray ;
}
.Tools{
    width: 100%;
    height: 7vh;
    display: flex;
    /* background-color: #ffd333; */
    margin-top: 10px;
}
.Tools p{
    width: 50%;
    margin-left: 10%;
    font-size: 24px;
    margin-bottom:10px;
    font-family: Roboto,"sans-serif"; ;
}
.Tools ul{
    list-style: none;
    display: flex;
    justify-content: right;
    height: 7vh;
}
.Tools ul li{
    margin-top: 0px;
    margin-right:10px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #ffd333;
    border-radius: 20px;
}
.Tools ul li:hover{
    border-color: lightgrey;
}
.Tools ul li a{
    text-decoration: none;
    color: black;
}
.Seller{
    width: 100%;
    height: 4vh;
    /* background-color: #ffd333; */
    margin-left: 10%;
    margin-top: 20px;
    font-size: 20px;
}
.Best{
    width: 100%;
    height: 110vh;
    /* background-color: #ffd333; */
    margin-top: 20px;
    display: flex;
}
.Best1{
    width: 30%;
    height: 110vh;
    /* background-color: #95115e; */
    margin-left: 10%;
    border: 2px solid lightgray;
}
.Best1 img{
    width:100%;
    height:50vh;
    margin-top:40px  ;
}
.Best1 p{
    margin-left:20px;
    font-size:18px;
    margin-top: 40px;
}
.Best1:hover{
    border-color: #ffd333;
}
.Best1 button{
    margin-top: 40px;
    width: 80px;
    height: 40px;
    margin-left: 20px;
    background-color: #ffd333;
}
.fa-star{
    color: #ffd333;
}
.fa-chart-simple{
    color: lightgrey;
}
.fa-heart{
    color: lightgray ;
}
.Best2{
    width: 60%;
    height: 110vh;
   
    /* background-color: #13d246; */
}
.Best2-1{
    width: 100%;
    height: 55vh;
    /* background-color: #0e90bc; */
    display: flex;
    
}
.Best2-11{
    width: 45%;
    height: 55vh;
    border: 2px solid lightgray;
    margin-left: 5%;
}
.Best2-11 img{
    width:80%;
    height:30vh;
    margin-top:0px ;
    margin-bottom: 0px;
}
.Best2-11 p{
    margin-left:10%;
    font-size:18px;
    margin-top:0px;
}
.Best2-11:hover{
    border-color: #ffd333;
}
.Best2-11 button{
    margin-top:0px;
    width: 80px;
    height: 40px;
    margin-left:10%;
    background-color: #ffd333;
}
.Best2-12{
    width: 45%;
    height: 55vh;
    border: 2px solid lightgray;
    margin-left: 5%;
}
.Best2-12 img{
    width:80%;
    height:30vh;
    margin-top:0px ;
    margin-bottom: 0px;
}
.Best2-12 p{
    margin-left:10%;
    font-size:18px;
    margin-top:0px;
}
.Best2-12:hover{
    border-color: #ffd333;
}
.Best2-12 button{
    margin-top:0px;
    width: 80px;
    height: 40px;
    margin-left:10%;
    background-color: #ffd333;
}
.Best2-2{
    width: 100%;
    height: 53vh;
    padding-top: 10px;
    /* background-color: #0e90bc; */
    display: flex;
    
}
.Best2-21{
    width: 45%;
    height: 53vh;
    border: 2px solid lightgray;
    margin-left: 5%;
}
.Best2-21 img{
    width:80%;
    height:30vh;
    margin-top:0px ;
    margin-bottom: 0px;
}
.Best2-21 p{
    margin-left:10%;
    font-size:18px;
    margin-top:0px;
}
.Best2-21:hover{
    border-color: #ffd333;
}
.Best2-21 button{
    margin-top:0px;
    width: 80px;
    height: 40px;
    margin-left:10%;
    background-color: #ffd333;
}
.Best2-22{
    width: 45%;
    height: 53vh;
    border: 2px solid lightgray;
    margin-left: 5%;
}
.Best2-22 img{
    width:80%;
    height:30vh;
    margin-top:0px ;
    margin-bottom: 0px;
}
.Best2-22 p{
    margin-left:10%;
    font-size:18px;
    margin-top:0px;
}
.Best2-22:hover{
    border-color: #ffd333;
}
.Best2-22 button{
    margin-top:0px;
    width: 80px;
    height: 40px;
    margin-left:10%;
    background-color: #ffd333;
}
.Footer-container{
    /* background-color: rgb(104, 99, 92); */
    padding:3rem;
}
.Footer{
    height: 40vh;
    width: 100%;
    margin-left: 10%;
    margin-right: 20%;
    /* justify-content: center; */
    /* background-color: rgb(104, 99, 92); */
    display: flex;
    color:black;
    flex-wrap: wrap;
}
.Footer-1{
    display: flex;
    flex-direction: column ;  
    margin-right: 4rem;
}
.Footer-1 h2{
margin-bottom: 2rem;
}
.Footer-1 a{
    color:rgba(0, 0, 0, 0.652);
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.Footer-1 a:hover{
    color: #ffd333;
    transition: all 2s ease-out;
}
.Footer-2{
    display: flex;
    flex-direction: column ;
    margin-right: 4rem;
}
.Footer-2 h2{
    margin-bottom: 2rem;
    }
    .Footer-2 a{
        
        color:rgba(0, 0, 0, 0.652);
        text-decoration: none;
        margin-bottom: 0.5rem;
    }
    .Footer-2 a:hover{
        color: #ffd333;
        transition: all 2s ease-out;
    }
.Footer-3{
    display: flex;
    flex-direction: column ;
    margin-right: 4rem;
}
.Footer-3 h2{
    margin-bottom: 2rem;
    }
    .Footer-3 a{
        color:rgba(0, 0, 0, 0.652);
        text-decoration: none;
        margin-bottom: 0.5rem;
    }
    .Footer-3 a:hover{
        color: #ffd333;
        transition: all 2s ease-out;
    }
.Footer-email-form{
    display: flex;
    flex-direction:column ;
    margin-right: 4rem;
}
.Footer-email-form h2{
    margin-bottom: 2rem;
}
.Footer-email-form input{
    display: flex;
    flex-direction:row;
}
#Footer-email{
    width: 250px;
    height: 30px;
    border-radius: 4px;
    padding-left: 2px;
    border:1px solid lightgray;
    margin-bottom: 0.5rem;
}
#Footer-email-btn{
    width: 60px;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 2rem;
    background-color:#ffd333
}
.Demo{
    width: 85%;
    height: 28vh;
    background-color:#ffd333;
    margin-left: 10%;
    margin-top: 30px;
    margin-right: 5%;
    background-image:  url(assests/image31.jpg);
}
.Demo button{
   margin-left: 44.5%;
   margin-top: 9.8%;
   width: 100px;
   height: 31px;
   background-color:#ffd333
}
.Demo button a{
    text-decoration: none;
    color: #000;
}




